<mat-tab-group mat-stretch-tabs class="stretched-tabs" dynamicHeight animationDuration="0ms" #tabs>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>location_searching</mat-icon>
        <span class="tab-header">Search parameters</span>
      </ng-template>
      <app-search-parameters (backendDataEmitter)="backendDataReceiver($event, tabs)"></app-search-parameters>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>schedule</mat-icon>
        <span class="tab-header">Current weather</span>
      </ng-template>
      <app-current-weather [apiKey]="apiKey" [latitude]="latitude" [longtitude]="longtitude" [weatherType]="weatherType" [stateAndCityName]="stateAndCityName"></app-current-weather>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>history</mat-icon>
        <span class="tab-header">Weather forecast</span>
      </ng-template>
      <app-weather-forecast [apiKey]="apiKey" [latitude]="latitude" [longtitude]="longtitude" [weatherType]="weatherType" [stateAndCityName]="stateAndCityName"></app-weather-forecast>
    </mat-tab>
</mat-tab-group>
